*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header{
    background-color: black;
    padding: 25px 30px 300px 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    
}
body{
    font-family: 'Open Sans', sans-serif;
}

.logoimg{
    width: 80px;
}
.img-card{
    width: 300px;
}

header nav ul{
    display: flex;
    flex-direction: row;
}
header nav ul li{
    padding: 15px;
    list-style: none;
    color: white;
    font-size: 27px;
    letter-spacing: 3px;
}
header nav ul li:hover{

    border: 1px solid white;
    border-radius: 20px;

}
header nav ul li a{
    color: inherit;
    text-decoration: none;    
}
.caio{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    height: 65vh;
    
}
.esquerda{
    display: flex;
    color: white;
    flex-direction: column;
    padding-left: 60px;
    
}
.h1{
    font-size: 60px;
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.esquerda p{
    font-size: 35px;
    font-weight: 100; 
    line-height: 2.5;
}
.buttom{
    background-color: rgb(255, 119, 0);
    border: none;
    width: 130px;
    height: 50px;
    border-radius: 15px;
    color: white;
}
.direita{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.direita a{
    color: white;
    padding: 10px;
    
}
.about-me{
    display: flex;
    flex: row;
    line-height: 1.7;
    margin-top: 50px;
    padding: 0px 30px 70px 30px;
    align-items: center;
    height: 65vh;
    padding-left: 60px;
}
.about-me h2{
    font-weight: 900;
    font-size: 40px;
}
.img2{
    max-width:  320px;
    border-radius: 50%;
}
.about-me div{
    margin-right: 90px;
    font-size: 13px;
    line-height: 2.5;
    
}
.projects{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    padding: 100px 90px 60px 90px;
    
}
.projeto{
    max-width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    box-shadow: 7px 6px 20px 1px rgb(100, 94, 94) ;
    margin-bottom: 40px;
    
}
.projeto p{
    padding: 20px;
    border-bottom: 1px solid black;
}
.projeto h3{
    text-align: center;
    text-transform: capitalize;
    font-size: 25px;
}
.projeto a{
    display: flex;
    justify-content: center;
    padding: 20px;
}
.projeto img{
    width: 80%;
    border-radius: 50%;
    margin: 0 auto;
    padding-top: 10px;
    

}
footer{
    height: 25vh;
    background: black;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 2;
    text-decoration: none;
    
}